{% extends "base.html" %} {% block title %}Pacientes{% endblock %} 
{% block content %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <div class="table-responsive"> 
    <table class="table table-hover">
        <caption>Seus pacientes registrados</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Senha</th>
            <th scope="col">Exames</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Alice</td>
            <td>ali@gv</td>
            <td>023123123</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Juliana Danzi</td>
            <td>jddaf@poli</td>
            <td>012012012012</td>
            <td>botão</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>ju@kj</td>
            <td>234234234234</td>
            <td>Botão</td>
          </tr>
        </tbody>
      </table></div>
    
    
    
    
    
    
    
    
    </html>
