<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    {% block content %}
    <div><center><h1>Home Page</h1> 
    <p>Seja bem vindo!</p>
    <label>CPF</label>
    <input name="cpf" aria-invalid="true" aria-readonly="true" autocapitalize="none" autocomplete="username" role="textbox" type="tel" inputmode="numeric" label="CPF" value=""><br />
    <label>SENHA</label>
    <input name="Senha" aria-invalid="true" aria-readonly="true" autocapitalize="none" autocomplete="username" role="textbox" type="tel" inputmode="numeric" label="Senha" value=""/><br/>
    <button onclick="window.location.href='http://127.0.0.1:8000/profile';">Confirma</button></center> 
    {% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>

<!-- dentro do div fica tudo dentro do h1 vc escreve o titulo; e do p o subtítulo-->