<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="Inicio" href="/">Home</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
        </div>
      </div>
    </nav>

    <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css">

    </head>


     <h1 align="center">
             Olá!

     </h1>
               <h2 align="center">
    Sejam bem-vindos a plataforma de conexão entre profissionais da saúde e seus pacientes                                    
               </h2>
             <h2 align="center">Veja as Unidades de Atendimento da UPE!</h2><br /> 
              <h3 align="center">CISAM</h3>
                <h3 align="center">
                    <img src="https://th.bing.com/th/id/OIP.fnD3WKzvrFw_z_MXHkgiVwHaFj?w=334&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="border-radius: 40px;"></h3>
                      <h3 align="center"><br /> PROCAPE</h3>
                     <h2 align="center">
                        <img src="https://th.bing.com/th/id/OIP.6AXIx8H8GZUR1IB6DvQXHwHaDt?w=334&h=175&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="border-radius: 40px;" ></h2>
              <h3 align="center"><br /> Hospital Universitário Oswaldo Cruz</h3>
                  <h3 align="center">
                      <img  src="https://th.bing.com/th/id/OIP.5oRNR1ZVYVaoBoXqPhUSvwHaFj?w=334&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="border-radius: 40px;" ></img>
                </h3>
</html>
