{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
<form method="POST">
    <h3 align="center">Sign Up!</h3>
    <div class="form-group">
        <label for="firstName">First Name</label>label>
        <input 
            type="text" 
            class="form-control" 
            id="firstName" 
            name="firstName" 
            placeholder="Coloque seu primeiro nome">
        <label for="email">Email Address/Iniciais</label>    
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Coloque seu email">
    </div>
</form>